In [1]:
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
d1=pd.read_csv(r"C:\Users\Admin\Desktop\excel\comp_bike.csv")

In [3]:
d1

,Unnamed: 0,Manufacturer,Model,Engine_Capacity,Mileage,Weight,Fuel_Capacity,Top_speed,Prices,Rating,Riding_range,Charging_time
0,0,Honda,"['SP', '125']",124 cc,65 kmpl,116 kg,11.2 litres,100 kmph,"87,375",4.5,NaN,NaN
1,1,Honda,['SP160'],162.71 cc,50 kmpl,139 kg,12 litres,110 kmph,"1,18,484",4.6,NaN,NaN
2,2,Honda,['Shine'],123.94 cc,55 kmpl,113 kg,10.5 litres,102 kmph,"81,108",4.4,NaN,NaN
3,3,Honda,['Unicorn'],162.7 cc,50 kmpl,140 kg,13 litres,106 kmph,"1,10,529",4.3,NaN,NaN
4,4,Honda,"['Activa', '6G']",109.51 cc,47.5 kmpl,106 kg,5.3 litres,85 kmph,"78,368",4.3,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
355,73,OLA,"['S1', 'Pro']",NaN,NaN,116 kg,NaN,120 kmph,"1,37,790",4.2,195 km,6.5 hrs
356,74,OLA,"['S1', 'Air']",NaN,NaN,108 kg,NaN,90 kmph,"1,10,573",4.3,151 km,5 hrs
357,75,Matter,['AERA'],NaN,NaN,NaN,NaN,5 hrs,"1,73,999",4.3,125 km,NaN
358,76,Revolt,['RV400'],NaN,NaN,108 kg,NaN,85 kmph,"1,42,939",4.1,150 km,4.5 hrs
359,77,Bounce,"['Infinity', 'E1']",NaN,NaN,94 kg,NaN,65 kmph,"1,15,605",3.8,70 km,4 hrs

In [4]:
d2=pd.read_csv(r"C:\Users\Admin\Desktop\excel\bike_dataset_2.csv")

In [5]:
### df is from upcoming bikes
d2

,Unnamed: 0,Manufacturer,Models,Engine_Capacity,Mileage,Weight,Fuel_Capacity,Top_speed,Prices
0,0,Triumph,"['Daytona', '660']",660 cc,20 kmpl,NaN,14 litres,169,"11,00,000"
1,1,Husqvarna,"['Vitpilen', '401']",399 cc,NaN,171.2 kg,13.5 litres,146,"2,50,000"
2,2,Suzuki,['GSX-8R'],776 cc,NaN,205 kg,14 litres,172,"11,00,000"
3,3,Kawasaki,"['Versys-X', '300']",296 cc,NaN,175 kg,17 litres,193,"4,80,000"
4,4,Suzuki,['GSX-8S'],776 cc,NaN,202 kg,14 litres,139,"10,00,000"
5,5,Honda,"['CRF300', 'Rally']",286 cc,NaN,153 kg,12.8 litres,117,"5,00,000"
6,6,Honda,['CRF300L'],286 cc,NaN,142 kg,7.8 litres,194,"4,50,000"
7,7,Royal,"['Enfield', 'Classic', '350', 'Bobber']",349 cc,NaN,195 kg,13 litres,194,"2,00,000"
8,8,BMW,"['R', '1300', 'GS', 'Adventure']","1,300 cc",21 kmpl,NaN,19 litres,113,"25,00,000"
9,9,Honda,['CB500F'],500 cc,NaN,190 kg,15.7 litres,194,"4,80,000"
10,10,Honda,['CBR500R'],500 cc,NaN,192 kg,15.5 litres,103,"4,45,000"

In [6]:
d2.rename(columns={'Models':'Model'},inplace=True)

#### Merging 2 dataframes

In [7]:
bike=pd.concat((d1,d2),ignore_index=True)

In [8]:
bike

,Unnamed: 0,Manufacturer,Model,Engine_Capacity,Mileage,Weight,Fuel_Capacity,Top_speed,Prices,Rating,Riding_range,Charging_time
0,0,Honda,"['SP', '125']",124 cc,65 kmpl,116 kg,11.2 litres,100 kmph,"87,375",4.5,NaN,NaN
1,1,Honda,['SP160'],162.71 cc,50 kmpl,139 kg,12 litres,110 kmph,"1,18,484",4.6,NaN,NaN
2,2,Honda,['Shine'],123.94 cc,55 kmpl,113 kg,10.5 litres,102 kmph,"81,108",4.4,NaN,NaN
3,3,Honda,['Unicorn'],162.7 cc,50 kmpl,140 kg,13 litres,106 kmph,"1,10,529",4.3,NaN,NaN
4,4,Honda,"['Activa', '6G']",109.51 cc,47.5 kmpl,106 kg,5.3 litres,85 kmph,"78,368",4.3,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
366,6,Honda,['CRF300L'],286 cc,NaN,142 kg,7.8 litres,194,"4,50,000",NaN,NaN,NaN
367,7,Royal,"['Enfield', 'Classic', '350', 'Bobber']",349 cc,NaN,195 kg,13 litres,194,"2,00,000",NaN,NaN,NaN
368,8,BMW,"['R', '1300', 'GS', 'Adventure']","1,300 cc",21 kmpl,NaN,19 litres,113,"25,00,000",NaN,NaN,NaN
369,9,Honda,['CB500F'],500 cc,NaN,190 kg,15.7 litres,194,"4,80,000",NaN,NaN,NaN
370,10,Honda,['CBR500R'],500 cc,NaN,192 kg,15.5 litres,103,"4,45,000",NaN,NaN,NaN

In [9]:
d3=pd.read_csv(r"C:\Users\Admin\Desktop\project\bike_datset_4.csv")
d3

,Unnamed: 0.1,Unnamed: 0,Manufacturer,Model,Engine_Capacity,Mileage,Weight,Fuel_Capacity,Top_speed,Prices,Rating,Riding_range,Charging_time
0,370,371.308987,Eeve,4U(standard),NaN,NaN,72 kg,NaN,25 kmph,"73,854",NaN,70 km,3.5 hrs
1,371,372.311949,Eeve,wind(standard),NaN,NaN,94 kg,NaN,25 kmph,"58,959",NaN,70 km,6 hrs
2,372,373.314912,Eeve,Atreo(standard),NaN,NaN,94 kg,NaN,25 kmph,"65,000",NaN,85 km,6 hrs
3,373,374.317874,Eeve,Ahava(standard),NaN,NaN,94 kg,NaN,25 kmph,"56,038",NaN,70 km,6.5 hrs
4,374,375.320837,Eeve,Xeniaa(2),NaN,NaN,72 kg,NaN,25 kmph,"82,000",NaN,80 km,3.5 hrs
5,375,376.323799,Eeve,Xeniaa(standard),NaN,NaN,72 kg,NaN,NaN,"75,004",NaN,60 km,3 hrs
6,376,377.326761,Evolet,Derby(Classic),NaN,NaN,76 kg,NaN,25 kmph,"64,599",NaN,100 km,4 hrs
7,377,378.329724,Evolet,Derby(EZ),NaN,NaN,90 kg,NaN,25 kmph,"69,124",NaN,120 km,8 hrs
8,378,379.332686,Evolet,Polo (Classic),NaN,NaN,76 kg,NaN,25 kmph,"59,299",NaN,90 km,9 hrs
9,379,380.335649,Evolet,Polo (EZ),NaN,NaN,90 kg,NaN,25 kmph,"49,699",NaN,120 km,8 hrs
10,380,381.338611,Evolet,Pony (Classic),NaN,NaN,76 kg,NaN,25 kmph,"49,563",NaN,80 km,7 hrs
11,381,382.341574,Evolet,Pony (EZ),NaN,NaN,90 kg,NaN,25 kmph,"41,124",NaN,80 km,7 hrs
12,382,383.344536,Hero,Electric NYX HX (Dual Battery),NaN,NaN,87 kg,NaN,42 kmph,"63,057",NaN,50 km,5 hrs
13,383,384.347498,Hero,Electric Atria (LX),NaN,NaN,69 kg,NaN,25 kmph,"77,690",NaN,85 km,4 hrs
14,384,385.350461,Hero,Electric Optima HX (Dual Battery),NaN,NaN,83 kg,NaN,42 kmph,"77,665",NaN,90 km,4 hrs
15,385,386.353423,Hero,Electric Optima HX (single Battery),NaN,NaN,72.5 kg,NaN,42 kmph,"62,365",NaN,82 km,4 hrs
16,386,387.356386,Hero,Electric Photon (HX),NaN,NaN,87 kg,NaN,45 kmph,"80,950",NaN,108 km,5 hrs
17,387,388.359348,Techo Electra,Raptor (Standard),NaN,NaN,60 kg,NaN,25 kmph,"57,856",NaN,100 km,4 hrs
18,388,389.362310,Techo Electra,Emerge (Standard),NaN,NaN,60 kg,NaN,25 kmph,"68,248",NaN,70 km,4 hrs
19,389,390.365273,Techo Electra,Neo (Standard),NaN,NaN,51 kg,NaN,25 kmph,"41,777",NaN,60 km,4 hrs
20,390,391.368235,YO,Edge (DX),NaN,NaN,59 kg,NaN,25 kmph,"49,086",NaN,70 km,3 hrs
21,391,392.371198,YO,Drift (DX),NaN,NaN,59 kg,NaN,25 kmph,"51,094",NaN,80 km,4 hrs
22,392,393.374160,Suzuki,Burgman Street EX,124 cc,47 kmpl,80 kg,6.5 litres,80 kmph,"1,15,371",NaN,NaN,NaN
23,393,394.377122,Suzuki,V-Strom 650 XT,645 cc,17 kmpl,210 kg,16 litres,180 kmph,"8,85,000",NaN,NaN,NaN
24,394,395.380085,PURE,EV Etrance (Standard),NaN,NaN,49 kg,NaN,60 kmph,"54,841",NaN,120 km,4 hrs
25,395,396.383047,Energy,EVONE,NaN,NaN,57 kg,NaN,25 kmph,"66,666",NaN,65 km,3 hrs
26,396,397.386010,UM,Renegade Mojave (Standard),279.5 cc,20 kmpl,179 kg,18 litres,NaN,"1,85,526",NaN,NaN,NaN
27,397,398.388972,Tork,Kratos,NaN,NaN,NaN,NaN,105 kmph,"1,68,374",NaN,120 km,6 hrs
28,398,399.391935,One,Electric Motorcycles Kridn,NaN,NaN,110 kg,NaN,95 kmph,"1,35,000",NaN,110 km,5 hrs
29,399,400.394897,CFMoto,650MT (Standard),649 cc,18 kmpl,218 kg,18 litres,170 kmph,"5,29,000",NaN,NaN,NaN
30,400,401.397859,CFMoto,650NK (Standard),649 cc,17 kmpl,206 kg,17 litres,180 kmph,"4,29,000",NaN,NaN,NaN
31,401,402.400822,CFMoto,300NK (Standard),292 cc,20 kmpl,151 kg,12.5 litres,160 kmph,"2,29,000",NaN,NaN,NaN
32,402,403.403784,CFMoto,650GT (Standard),649 cc,17 kmpl,226 kg,19 litres,185 kmph,"5,59,000",NaN,NaN,NaN

#### Merging bike and d3

In [10]:
df=pd.concat((bike,d3),ignore_index=True)

#### Removing unwanted columns

In [11]:
df.drop(columns=['Unnamed: 0'],axis=1,inplace=True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404 entries, 0 to 403
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Manufacturer     404 non-null    object
 1   Model            404 non-null    object
 2   Engine_Capacity  300 non-null    object
 3   Mileage          232 non-null    object
 4   Weight           376 non-null    object
 5   Fuel_Capacity    299 non-null    object
 6   Top_speed        402 non-null    object
 7   Prices           404 non-null    object
 8   Rating           360 non-null    float64
 9   Riding_range     104 non-null    object
 10  Charging_time    77 non-null     object
 11  Unnamed: 0.1     33 non-null     float64
dtypes: float64(2), object(10)
memory usage: 38.0+ KB

In [13]:
df[df['Manufacturer']=='Royal']

,Manufacturer,Model,Engine_Capacity,Mileage,Weight,Fuel_Capacity,Top_speed,Prices,Rating,Riding_range,Charging_time,Unnamed: 0.1
122,Royal,"['Enfield', 'Hunter', '350']",349.34 cc,36 kmpl,177 kg,13 litres,114 kmph,"1,49,900",8.0,NaN,NaN,NaN
123,Royal,"['Enfield', 'Continental', 'GT', '650']",648 cc,25 kmpl,211 kg,12.5 litres,169 kmph,"3,18,418",4.8,NaN,NaN,NaN
124,Royal,"['Enfield', 'Classic', '350']",349 cc,32 kmpl,195 kg,13 litres,114 kmph,"1,93,080",4.6,NaN,NaN,NaN
125,Royal,"['Enfield', 'Bullet', '350']",349 cc,35 kmpl,195 kg,13 litres,110 kmph,"1,73,562",4.6,NaN,NaN,NaN
126,Royal,"['Enfield', 'Meteor', '350']",349 cc,32.6 kmpl,191 kg,15 litres,112 kmph,"2,05,528",4.6,NaN,NaN,NaN
127,Royal,"['Enfield', 'Himalayan', '450']",452 cc,30 kmpl,196 kg,17 litres,135 kmph,"2,85,000",4.8,NaN,NaN,NaN
128,Royal,"['Enfield', 'Shotgun', '650']",648 cc,22 kmpl,240 kg,13.8 litres,-,"3,59,430",4.8,NaN,NaN,NaN
129,Royal,"['Enfield', 'Super', 'Meteor', '650']",648 cc,23.7 kmpl,241 kg,15.7 litres,150 kmph,"3,63,900",4.8,NaN,NaN,NaN
130,Royal,"['Enfield', 'Scram', '411']",411 cc,29.6 kmpl,185 kg,15 litres,138 kmph,"2,06,234",4.6,NaN,NaN,NaN
131,Royal,"['Enfield', 'Interceptor', '650']",648 cc,23 kmpl,213 kg,13.7 litres,169 kmph,"3,02,418",4.6,NaN,NaN,NaN
367,Royal,"['Enfield', 'Classic', '350', 'Bobber']",349 cc,NaN,195 kg,13 litres,194,"2,00,000",NaN,NaN,NaN,NaN

In [14]:
#bike.loc[:,'Manufacturer'].map({'Royal':'RoyalEnfield'})

### Renaming Royal to RoyalEnfield

In [15]:
df[df['Manufacturer']=='Royal']=df[df['Manufacturer']=='Royal'].replace('Royal','RoyalEnfield')

In [16]:
df

,Manufacturer,Model,Engine_Capacity,Mileage,Weight,Fuel_Capacity,Top_speed,Prices,Rating,Riding_range,Charging_time,Unnamed: 0.1
0,Honda,"['SP', '125']",124 cc,65 kmpl,116 kg,11.2 litres,100 kmph,"87,375",4.5,NaN,NaN,NaN
1,Honda,['SP160'],162.71 cc,50 kmpl,139 kg,12 litres,110 kmph,"1,18,484",4.6,NaN,NaN,NaN
2,Honda,['Shine'],123.94 cc,55 kmpl,113 kg,10.5 litres,102 kmph,"81,108",4.4,NaN,NaN,NaN
3,Honda,['Unicorn'],162.7 cc,50 kmpl,140 kg,13 litres,106 kmph,"1,10,529",4.3,NaN,NaN,NaN
4,Honda,"['Activa', '6G']",109.51 cc,47.5 kmpl,106 kg,5.3 litres,85 kmph,"78,368",4.3,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
399,One,Electric Motorcycles Kridn,NaN,NaN,110 kg,NaN,95 kmph,"1,35,000",NaN,110 km,5 hrs,398.0
400,CFMoto,650MT (Standard),649 cc,18 kmpl,218 kg,18 litres,170 kmph,"5,29,000",NaN,NaN,NaN,399.0
401,CFMoto,650NK (Standard),649 cc,17 kmpl,206 kg,17 litres,180 kmph,"4,29,000",NaN,NaN,NaN,400.0
402,CFMoto,300NK (Standard),292 cc,20 kmpl,151 kg,12.5 litres,160 kmph,"2,29,000",NaN,NaN,NaN,401.0
403,CFMoto,650GT (Standard),649 cc,17 kmpl,226 kg,19 litres,185 kmph,"5,59,000",NaN,NaN,NaN,402.0

In [17]:
df[df['Manufacturer']=='RoyalEnfield']

,Manufacturer,Model,Engine_Capacity,Mileage,Weight,Fuel_Capacity,Top_speed,Prices,Rating,Riding_range,Charging_time,Unnamed: 0.1
122,RoyalEnfield,"['Enfield', 'Hunter', '350']",349.34 cc,36 kmpl,177 kg,13 litres,114 kmph,"1,49,900",8.0,NaN,NaN,NaN
123,RoyalEnfield,"['Enfield', 'Continental', 'GT', '650']",648 cc,25 kmpl,211 kg,12.5 litres,169 kmph,"3,18,418",4.8,NaN,NaN,NaN
124,RoyalEnfield,"['Enfield', 'Classic', '350']",349 cc,32 kmpl,195 kg,13 litres,114 kmph,"1,93,080",4.6,NaN,NaN,NaN
125,RoyalEnfield,"['Enfield', 'Bullet', '350']",349 cc,35 kmpl,195 kg,13 litres,110 kmph,"1,73,562",4.6,NaN,NaN,NaN
126,RoyalEnfield,"['Enfield', 'Meteor', '350']",349 cc,32.6 kmpl,191 kg,15 litres,112 kmph,"2,05,528",4.6,NaN,NaN,NaN
127,RoyalEnfield,"['Enfield', 'Himalayan', '450']",452 cc,30 kmpl,196 kg,17 litres,135 kmph,"2,85,000",4.8,NaN,NaN,NaN
128,RoyalEnfield,"['Enfield', 'Shotgun', '650']",648 cc,22 kmpl,240 kg,13.8 litres,-,"3,59,430",4.8,NaN,NaN,NaN
129,RoyalEnfield,"['Enfield', 'Super', 'Meteor', '650']",648 cc,23.7 kmpl,241 kg,15.7 litres,150 kmph,"3,63,900",4.8,NaN,NaN,NaN
130,RoyalEnfield,"['Enfield', 'Scram', '411']",411 cc,29.6 kmpl,185 kg,15 litres,138 kmph,"2,06,234",4.6,NaN,NaN,NaN
131,RoyalEnfield,"['Enfield', 'Interceptor', '650']",648 cc,23 kmpl,213 kg,13.7 litres,169 kmph,"3,02,418",4.6,NaN,NaN,NaN
367,RoyalEnfield,"['Enfield', 'Classic', '350', 'Bobber']",349 cc,NaN,195 kg,13 litres,194,"2,00,000",NaN,NaN,NaN,NaN

In [18]:
df['Model']=df['Model'].str.strip('[ ]')

In [19]:
df['Model']=df['Model'].str.replace(',' ,'')

In [20]:
df

,Manufacturer,Model,Engine_Capacity,Mileage,Weight,Fuel_Capacity,Top_speed,Prices,Rating,Riding_range,Charging_time,Unnamed: 0.1
0,Honda,'SP' '125',124 cc,65 kmpl,116 kg,11.2 litres,100 kmph,"87,375",4.5,NaN,NaN,NaN
1,Honda,'SP160',162.71 cc,50 kmpl,139 kg,12 litres,110 kmph,"1,18,484",4.6,NaN,NaN,NaN
2,Honda,'Shine',123.94 cc,55 kmpl,113 kg,10.5 litres,102 kmph,"81,108",4.4,NaN,NaN,NaN
3,Honda,'Unicorn',162.7 cc,50 kmpl,140 kg,13 litres,106 kmph,"1,10,529",4.3,NaN,NaN,NaN
4,Honda,'Activa' '6G',109.51 cc,47.5 kmpl,106 kg,5.3 litres,85 kmph,"78,368",4.3,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
399,One,Electric Motorcycles Kridn,NaN,NaN,110 kg,NaN,95 kmph,"1,35,000",NaN,110 km,5 hrs,398.0
400,CFMoto,650MT (Standard),649 cc,18 kmpl,218 kg,18 litres,170 kmph,"5,29,000",NaN,NaN,NaN,399.0
401,CFMoto,650NK (Standard),649 cc,17 kmpl,206 kg,17 litres,180 kmph,"4,29,000",NaN,NaN,NaN,400.0
402,CFMoto,300NK (Standard),292 cc,20 kmpl,151 kg,12.5 litres,160 kmph,"2,29,000",NaN,NaN,NaN,401.0
403,CFMoto,650GT (Standard),649 cc,17 kmpl,226 kg,19 litres,185 kmph,"5,59,000",NaN,NaN,NaN,402.0

In [21]:
df.loc[122:131,'Model']

122              'Enfield' 'Hunter' '350'
123    'Enfield' 'Continental' 'GT' '650'
124             'Enfield' 'Classic' '350'
125              'Enfield' 'Bullet' '350'
126              'Enfield' 'Meteor' '350'
127           'Enfield' 'Himalayan' '450'
128             'Enfield' 'Shotgun' '650'
129      'Enfield' 'Super' 'Meteor' '650'
130               'Enfield' 'Scram' '411'
131         'Enfield' 'Interceptor' '650'
Name: Model, dtype: object

In [22]:
df.loc[122:131,'Model']=df.loc[122:131,'Model'].map(lambda x:x[10:])

In [23]:
df.loc[122:131,'Model']

122              'Hunter' '350'
123    'Continental' 'GT' '650'
124             'Classic' '350'
125              'Bullet' '350'
126              'Meteor' '350'
127           'Himalayan' '450'
128             'Shotgun' '650'
129      'Super' 'Meteor' '650'
130               'Scram' '411'
131         'Interceptor' '650'
Name: Model, dtype: object

In [24]:
df['Model'].replace("'Enfield' 'Classic' '350' 'Bobber'","'Classic 350 Bobber'",inplace=True)

In [25]:
df['Model']=df['Model'].str.replace("' '",' ')

In [26]:
df[df.Manufacturer=='RoyalEnfield']

,Manufacturer,Model,Engine_Capacity,Mileage,Weight,Fuel_Capacity,Top_speed,Prices,Rating,Riding_range,Charging_time,Unnamed: 0.1
122,RoyalEnfield,'Hunter 350',349.34 cc,36 kmpl,177 kg,13 litres,114 kmph,"1,49,900",8.0,NaN,NaN,NaN
123,RoyalEnfield,'Continental GT 650',648 cc,25 kmpl,211 kg,12.5 litres,169 kmph,"3,18,418",4.8,NaN,NaN,NaN
124,RoyalEnfield,'Classic 350',349 cc,32 kmpl,195 kg,13 litres,114 kmph,"1,93,080",4.6,NaN,NaN,NaN
125,RoyalEnfield,'Bullet 350',349 cc,35 kmpl,195 kg,13 litres,110 kmph,"1,73,562",4.6,NaN,NaN,NaN
126,RoyalEnfield,'Meteor 350',349 cc,32.6 kmpl,191 kg,15 litres,112 kmph,"2,05,528",4.6,NaN,NaN,NaN
127,RoyalEnfield,'Himalayan 450',452 cc,30 kmpl,196 kg,17 litres,135 kmph,"2,85,000",4.8,NaN,NaN,NaN
128,RoyalEnfield,'Shotgun 650',648 cc,22 kmpl,240 kg,13.8 litres,-,"3,59,430",4.8,NaN,NaN,NaN
129,RoyalEnfield,'Super Meteor 650',648 cc,23.7 kmpl,241 kg,15.7 litres,150 kmph,"3,63,900",4.8,NaN,NaN,NaN
130,RoyalEnfield,'Scram 411',411 cc,29.6 kmpl,185 kg,15 litres,138 kmph,"2,06,234",4.6,NaN,NaN,NaN
131,RoyalEnfield,'Interceptor 650',648 cc,23 kmpl,213 kg,13.7 litres,169 kmph,"3,02,418",4.6,NaN,NaN,NaN
367,RoyalEnfield,'Classic 350 Bobber',349 cc,NaN,195 kg,13 litres,194,"2,00,000",NaN,NaN,NaN,NaN

In [27]:
df

,Manufacturer,Model,Engine_Capacity,Mileage,Weight,Fuel_Capacity,Top_speed,Prices,Rating,Riding_range,Charging_time,Unnamed: 0.1
0,Honda,'SP 125',124 cc,65 kmpl,116 kg,11.2 litres,100 kmph,"87,375",4.5,NaN,NaN,NaN
1,Honda,'SP160',162.71 cc,50 kmpl,139 kg,12 litres,110 kmph,"1,18,484",4.6,NaN,NaN,NaN
2,Honda,'Shine',123.94 cc,55 kmpl,113 kg,10.5 litres,102 kmph,"81,108",4.4,NaN,NaN,NaN
3,Honda,'Unicorn',162.7 cc,50 kmpl,140 kg,13 litres,106 kmph,"1,10,529",4.3,NaN,NaN,NaN
4,Honda,'Activa 6G',109.51 cc,47.5 kmpl,106 kg,5.3 litres,85 kmph,"78,368",4.3,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
399,One,Electric Motorcycles Kridn,NaN,NaN,110 kg,NaN,95 kmph,"1,35,000",NaN,110 km,5 hrs,398.0
400,CFMoto,650MT (Standard),649 cc,18 kmpl,218 kg,18 litres,170 kmph,"5,29,000",NaN,NaN,NaN,399.0
401,CFMoto,650NK (Standard),649 cc,17 kmpl,206 kg,17 litres,180 kmph,"4,29,000",NaN,NaN,NaN,400.0
402,CFMoto,300NK (Standard),292 cc,20 kmpl,151 kg,12.5 litres,160 kmph,"2,29,000",NaN,NaN,NaN,401.0
403,CFMoto,650GT (Standard),649 cc,17 kmpl,226 kg,19 litres,185 kmph,"5,59,000",NaN,NaN,NaN,402.0

#### Removing CC

In [28]:
df

,Manufacturer,Model,Engine_Capacity,Mileage,Weight,Fuel_Capacity,Top_speed,Prices,Rating,Riding_range,Charging_time,Unnamed: 0.1
0,Honda,'SP 125',124 cc,65 kmpl,116 kg,11.2 litres,100 kmph,"87,375",4.5,NaN,NaN,NaN
1,Honda,'SP160',162.71 cc,50 kmpl,139 kg,12 litres,110 kmph,"1,18,484",4.6,NaN,NaN,NaN
2,Honda,'Shine',123.94 cc,55 kmpl,113 kg,10.5 litres,102 kmph,"81,108",4.4,NaN,NaN,NaN
3,Honda,'Unicorn',162.7 cc,50 kmpl,140 kg,13 litres,106 kmph,"1,10,529",4.3,NaN,NaN,NaN
4,Honda,'Activa 6G',109.51 cc,47.5 kmpl,106 kg,5.3 litres,85 kmph,"78,368",4.3,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
399,One,Electric Motorcycles Kridn,NaN,NaN,110 kg,NaN,95 kmph,"1,35,000",NaN,110 km,5 hrs,398.0
400,CFMoto,650MT (Standard),649 cc,18 kmpl,218 kg,18 litres,170 kmph,"5,29,000",NaN,NaN,NaN,399.0
401,CFMoto,650NK (Standard),649 cc,17 kmpl,206 kg,17 litres,180 kmph,"4,29,000",NaN,NaN,NaN,400.0
402,CFMoto,300NK (Standard),292 cc,20 kmpl,151 kg,12.5 litres,160 kmph,"2,29,000",NaN,NaN,NaN,401.0
403,CFMoto,650GT (Standard),649 cc,17 kmpl,226 kg,19 litres,185 kmph,"5,59,000",NaN,NaN,NaN,402.0

In [29]:
df['Engine_Capacity']=df['Engine_Capacity'].str.strip('cc')

In [30]:
df['Engine_Capacity']=df['Engine_Capacity'].str.replace(',','')

In [31]:
df

,Manufacturer,Model,Engine_Capacity,Mileage,Weight,Fuel_Capacity,Top_speed,Prices,Rating,Riding_range,Charging_time,Unnamed: 0.1
0,Honda,'SP 125',124,65 kmpl,116 kg,11.2 litres,100 kmph,"87,375",4.5,NaN,NaN,NaN
1,Honda,'SP160',162.71,50 kmpl,139 kg,12 litres,110 kmph,"1,18,484",4.6,NaN,NaN,NaN
2,Honda,'Shine',123.94,55 kmpl,113 kg,10.5 litres,102 kmph,"81,108",4.4,NaN,NaN,NaN
3,Honda,'Unicorn',162.7,50 kmpl,140 kg,13 litres,106 kmph,"1,10,529",4.3,NaN,NaN,NaN
4,Honda,'Activa 6G',109.51,47.5 kmpl,106 kg,5.3 litres,85 kmph,"78,368",4.3,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
399,One,Electric Motorcycles Kridn,NaN,NaN,110 kg,NaN,95 kmph,"1,35,000",NaN,110 km,5 hrs,398.0
400,CFMoto,650MT (Standard),649,18 kmpl,218 kg,18 litres,170 kmph,"5,29,000",NaN,NaN,NaN,399.0
401,CFMoto,650NK (Standard),649,17 kmpl,206 kg,17 litres,180 kmph,"4,29,000",NaN,NaN,NaN,400.0
402,CFMoto,300NK (Standard),292,20 kmpl,151 kg,12.5 litres,160 kmph,"2,29,000",NaN,NaN,NaN,401.0
403,CFMoto,650GT (Standard),649,17 kmpl,226 kg,19 litres,185 kmph,"5,59,000",NaN,NaN,NaN,402.0

In [32]:
df.loc[[37,84],['Engine_Capacity']]=df.loc[[37,84],['Engine_Capacity']].replace({'123 km':'123','75 km':'75'})

In [33]:
df

,Manufacturer,Model,Engine_Capacity,Mileage,Weight,Fuel_Capacity,Top_speed,Prices,Rating,Riding_range,Charging_time,Unnamed: 0.1
0,Honda,'SP 125',124,65 kmpl,116 kg,11.2 litres,100 kmph,"87,375",4.5,NaN,NaN,NaN
1,Honda,'SP160',162.71,50 kmpl,139 kg,12 litres,110 kmph,"1,18,484",4.6,NaN,NaN,NaN
2,Honda,'Shine',123.94,55 kmpl,113 kg,10.5 litres,102 kmph,"81,108",4.4,NaN,NaN,NaN
3,Honda,'Unicorn',162.7,50 kmpl,140 kg,13 litres,106 kmph,"1,10,529",4.3,NaN,NaN,NaN
4,Honda,'Activa 6G',109.51,47.5 kmpl,106 kg,5.3 litres,85 kmph,"78,368",4.3,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
399,One,Electric Motorcycles Kridn,NaN,NaN,110 kg,NaN,95 kmph,"1,35,000",NaN,110 km,5 hrs,398.0
400,CFMoto,650MT (Standard),649,18 kmpl,218 kg,18 litres,170 kmph,"5,29,000",NaN,NaN,NaN,399.0
401,CFMoto,650NK (Standard),649,17 kmpl,206 kg,17 litres,180 kmph,"4,29,000",NaN,NaN,NaN,400.0
402,CFMoto,300NK (Standard),292,20 kmpl,151 kg,12.5 litres,160 kmph,"2,29,000",NaN,NaN,NaN,401.0
403,CFMoto,650GT (Standard),649,17 kmpl,226 kg,19 litres,185 kmph,"5,59,000",NaN,NaN,NaN,402.0

In [34]:
df[df['Engine_Capacity']=='140 km']

,Manufacturer,Model,Engine_Capacity,Mileage,Weight,Fuel_Capacity,Top_speed,Prices,Rating,Riding_range,Charging_time,Unnamed: 0.1
89,TVS,'X',140 km,NaN,4 hrs,7000 W,4 hrs,"2,49,990",2.8,NaN,NaN,NaN

In [35]:
df.drop(index=[89],inplace=True)

In [36]:
df['Engine_Capacity'].unique()

array(['124 ', '162.71 ', '123.94 ', '162.7 ', '109.51 ', '184.4 ',
       '348.36 ', '98.98 ', '348.66 ', '123.92 ', '293.52 ', '286 ',
       '755 ', '1082 ', '1833 ', '471 ', '125 ', '373 ', '199.5 ',
       '164.82 ', '149.5 ', '160.3 ', '124.45 ', '124.4 ', '149.68 ',
       '249 ', '102 ', '115.45 ', '160 ', '123', '373.3 ', '248.8 ',
       '220 ', '124.7 ', '97.2 ', '199.6 ', '440 ', '110.9 ', '113.2 ',
       '163 ', '210 ', '163.2 ', '124.6 ', '124.8 ', '159.7 ', '225.9 ',
       '177.4 ', '312.12 ', '109.7 ', '99.7 ', '197.75 ', '312.2 ', '75',
       '87.8 ', '155 ', '149 ', '321 ', '999 ', '1170 ', '313 ', '1300 ',
       '1254 ', '1802 ', '350 ', '895 ', '1649 ', '853 ', '349.34 ',
       '648 ', '349 ', '452 ', '411 ', '1252 ', '1868 ', '1923 ', '975 ',
       '998 ', '948 ', '649 ', '296 ', '451 ', '177 ', '233 ', '399 ',
       '636 ', '112 ', '144 ', '292 ', '84 ', '64 ', '449 ', '500 ',
       '374 ', '124.3 ', '1340 ', '776 ', '457 ', '160.03 ', '659 ',
       '1099 ', '334 ', '294.72 ', '1890 ', '298 ', '223 ', '278.2 ',
       '292.4 ', '480 ', '400 ', '1103 ', '937 ', '955 ', '1158 ',
       '1079 ', '803 ', '249.07 ', '398.63 ', '373.27 ', '248.76 ',
       '398.15 ', '2458 ', '765 ', '1200 ', '1160 ', '660 ', '888 ',
       '900 ', '348 ', nan, '645 ', '279.5 '], dtype=object)

#### Removing kmpl

In [37]:
df['Mileage'].str.strip('kmpl')

0            65
1            50
2            55
3            50
4          47.5
         ...
399          NaN
400    18 kmpl
401          17
402          20
403          17
Name: Mileage, Length: 403, dtype: object

In [38]:
df['Mileage']=df['Mileage'].str.strip(' kmpl')

In [39]:
df

,Manufacturer,Model,Engine_Capacity,Mileage,Weight,Fuel_Capacity,Top_speed,Prices,Rating,Riding_range,Charging_time,Unnamed: 0.1
0,Honda,'SP 125',124,65,116 kg,11.2 litres,100 kmph,"87,375",4.5,NaN,NaN,NaN
1,Honda,'SP160',162.71,50,139 kg,12 litres,110 kmph,"1,18,484",4.6,NaN,NaN,NaN
2,Honda,'Shine',123.94,55,113 kg,10.5 litres,102 kmph,"81,108",4.4,NaN,NaN,NaN
3,Honda,'Unicorn',162.7,50,140 kg,13 litres,106 kmph,"1,10,529",4.3,NaN,NaN,NaN
4,Honda,'Activa 6G',109.51,47.5,106 kg,5.3 litres,85 kmph,"78,368",4.3,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
399,One,Electric Motorcycles Kridn,NaN,NaN,110 kg,NaN,95 kmph,"1,35,000",NaN,110 km,5 hrs,398.0
400,CFMoto,650MT (Standard),649,18,218 kg,18 litres,170 kmph,"5,29,000",NaN,NaN,NaN,399.0
401,CFMoto,650NK (Standard),649,17,206 kg,17 litres,180 kmph,"4,29,000",NaN,NaN,NaN,400.0
402,CFMoto,300NK (Standard),292,20,151 kg,12.5 litres,160 kmph,"2,29,000",NaN,NaN,NaN,401.0
403,CFMoto,650GT (Standard),649,17,226 kg,19 litres,185 kmph,"5,59,000",NaN,NaN,NaN,402.0

#### removing kg , replaceing other values with Null

In [40]:
df['Weight'].unique()

array(['116 kg', '139 kg', '113 kg', '140 kg', '106 kg', '110 kg',
       '142 kg', '181 kg', '112 kg', '103 kg', '99 kg', '187 kg',
       '5.3 litres', '147 kg', '143 kg', '153 kg', '179 kg', '146 kg',
       '208 kg', '239 kg', '390 kg', '196 kg', '149 kg', '174 kg',
       '166 kg', '152 kg', '159.5 kg', '148 kg', '144 kg',
       '5 Speed Manual ', '162 kg', '117 kg', '119 kg', '156 kg', '6 hrs',
       '130 kg', '193 kg', '127 kg', '180 kg', '164 kg', '163 kg',
       '160 kg', '136 kg', '122 kg', '159 kg', '115 kg', '191 kg',
       '108 kg', '121.3 kg', '104 kg', '138.5 kg', '163.5 kg', '111 kg',
       '155 kg', '778 mm', '123 kg', '137 kg', '118 kg', '169 kg',
       '107 kg', '88 kg', '93 kg', '86 kg', '141 kg', '135 kg', '126 kg',
       '14 litres', '6 Speed Manual ', '192 kg', '175 kg', '237 kg',
       '197 kg', '249 kg', '199 kg', '427 kg', '268 kg', '214 kg',
       '219 kg', '279 kg', '344 kg', '223 kg', '227 kg', '220 kg',
       '233 kg', '177 kg', '211 kg', '195 kg', '240 kg', '241 kg',
       '185 kg', '213 kg', '190.5 kg', '225 kg', '306 kg', '221 kg',
       '317 kg', '387 kg', '375 kg', '258 kg', '330 kg', '216 kg',
       '212 kg', '207 kg', '171 kg', '189 kg', '198 kg', '266 kg',
       '235 kg', '215 kg', '77 kg', '76 kg', '128 kg', '74.6 kg', '60 kg',
       '110.2 kg', '176 kg', '205 kg', '228 kg', '167 kg', '161 kg',
       '217 kg', '232 kg', '13 litres', '129 kg', '775 mm', '183 kg',
       '204 kg', '202 kg', '182 kg', '194 kg', '315 kg', '304 kg',
       '335 kg', '120 kg', '151 kg', '165 kg', '186 kg', '12 litres',
       '198.5 kg', '210 kg', '200 kg', '193.5 kg', '188 kg', '201 kg',
       '222 kg', '206 kg', '236 kg', '162.8 kg', '168.3 kg', '172 kg',
       '168 kg', '263 kg', '245 kg', '15 litres', '251 kg', '19 litres',
       '230 kg', '163.8 kg', '171.2 kg', '770 mm', '111.6 kg', nan,
       '96 kg', '69 kg', '87 kg', '65 kg', '67 kg', '83.5 kg', '80 kg',
       '95 kg', '150 kg', '90 kg', '70 kg', '101 kg', '100 kg', '94 kg',
       '190 kg', '72 kg', '83 kg', '72.5 kg', '51 kg', '59 kg', '49 kg',
       '57 kg', '218 kg', '226 kg'], dtype=object)

In [41]:
def weight(x):                     #creating a function to get the data where kg is found
    try:
        if x.endswith('kg'):
                return x.strip('kg')
        else:
            return(np.nan)
    except AttributeError:
            return(np.nan)

In [42]:
df['Weight'].map(lambda x:weight(x))[:14]

0     116
1     139
2     113
3     140
4     106
5     110
6     142
7     181
8     112
9     103
10     99
11    187
12     NaN
13    113
Name: Weight, dtype: object

In [43]:
df['Weight']=df['Weight'].map(lambda x:weight(x))

In [44]:
df

,Manufacturer,Model,Engine_Capacity,Mileage,Weight,Fuel_Capacity,Top_speed,Prices,Rating,Riding_range,Charging_time,Unnamed: 0.1
0,Honda,'SP 125',124,65,116,11.2 litres,100 kmph,"87,375",4.5,NaN,NaN,NaN
1,Honda,'SP160',162.71,50,139,12 litres,110 kmph,"1,18,484",4.6,NaN,NaN,NaN
2,Honda,'Shine',123.94,55,113,10.5 litres,102 kmph,"81,108",4.4,NaN,NaN,NaN
3,Honda,'Unicorn',162.7,50,140,13 litres,106 kmph,"1,10,529",4.3,NaN,NaN,NaN
4,Honda,'Activa 6G',109.51,47.5,106,5.3 litres,85 kmph,"78,368",4.3,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
399,One,Electric Motorcycles Kridn,NaN,NaN,110,NaN,95 kmph,"1,35,000",NaN,110 km,5 hrs,398.0
400,CFMoto,650MT (Standard),649,18,218,18 litres,170 kmph,"5,29,000",NaN,NaN,NaN,399.0
401,CFMoto,650NK (Standard),649,17,206,17 litres,180 kmph,"4,29,000",NaN,NaN,NaN,400.0
402,CFMoto,300NK (Standard),292,20,151,12.5 litres,160 kmph,"2,29,000",NaN,NaN,NaN,401.0
403,CFMoto,650GT (Standard),649,17,226,19 litres,185 kmph,"5,59,000",NaN,NaN,NaN,402.0

In [45]:
df.Weight.unique()

array(['116 ', '139 ', '113 ', '140 ', '106 ', '110 ', '142 ', '181 ',
       '112 ', '103 ', '99 ', '187 ', nan, '147 ', '143 ', '153 ', '179 ',
       '146 ', '208 ', '239 ', '390 ', '196 ', '149 ', '174 ', '166 ',
       '152 ', '159.5 ', '148 ', '144 ', '162 ', '117 ', '119 ', '156 ',
       '130 ', '193 ', '127 ', '180 ', '164 ', '163 ', '160 ', '136 ',
       '122 ', '159 ', '115 ', '191 ', '108 ', '121.3 ', '104 ', '138.5 ',
       '163.5 ', '111 ', '155 ', '123 ', '137 ', '118 ', '169 ', '107 ',
       '88 ', '93 ', '86 ', '141 ', '135 ', '126 ', '192 ', '175 ',
       '237 ', '197 ', '249 ', '199 ', '427 ', '268 ', '214 ', '219 ',
       '279 ', '344 ', '223 ', '227 ', '220 ', '233 ', '177 ', '211 ',
       '195 ', '240 ', '241 ', '185 ', '213 ', '190.5 ', '225 ', '306 ',
       '221 ', '317 ', '387 ', '375 ', '258 ', '330 ', '216 ', '212 ',
       '207 ', '171 ', '189 ', '198 ', '266 ', '235 ', '215 ', '77 ',
       '76 ', '128 ', '74.6 ', '60 ', '110.2 ', '176 ', '205 ', '228 ',
       '167 ', '161 ', '217 ', '232 ', '129 ', '183 ', '204 ', '202 ',
       '182 ', '194 ', '315 ', '304 ', '335 ', '120 ', '151 ', '165 ',
       '186 ', '198.5 ', '210 ', '200 ', '193.5 ', '188 ', '201 ', '222 ',
       '206 ', '236 ', '162.8 ', '168.3 ', '172 ', '168 ', '263 ', '245 ',
       '251 ', '230 ', '163.8 ', '171.2 ', '111.6 ', '96 ', '69 ', '87 ',
       '65 ', '67 ', '83.5 ', '80 ', '95 ', '150 ', '90 ', '70 ', '101 ',
       '100 ', '94 ', '190 ', '72 ', '83 ', '72.5 ', '51 ', '59 ', '49 ',
       '57 ', '218 ', '226 '], dtype=object)

#### Removing litres

In [46]:
df['Fuel_Capacity']

0      11.2 litres
1        12 litres
2      10.5 litres
3        13 litres
4       5.3 litres
          ...
399            NaN
400      18 litres
401      17 litres
402    12.5 litres
403      19 litres
Name: Fuel_Capacity, Length: 403, dtype: object

In [47]:
def l(x):
    try:
         if x.endswith('litres'):
                    return x.strip('litres')
         else:
            return(np.nan)
    except AttributeError:
            return(np.nan)

In [48]:
df['Fuel_Capacity'].map(lambda x : l(x))

0      11.2
1        12
2      10.5
3        13
4       5.3
       ...
399      NaN
400      18
401      17
402    12.5
403      19
Name: Fuel_Capacity, Length: 403, dtype: object

In [49]:
df['Fuel_Capacity']=df['Fuel_Capacity'].map(lambda x : l(x))

In [50]:
df

,Manufacturer,Model,Engine_Capacity,Mileage,Weight,Fuel_Capacity,Top_speed,Prices,Rating,Riding_range,Charging_time,Unnamed: 0.1
0,Honda,'SP 125',124,65,116,11.2,100 kmph,"87,375",4.5,NaN,NaN,NaN
1,Honda,'SP160',162.71,50,139,12,110 kmph,"1,18,484",4.6,NaN,NaN,NaN
2,Honda,'Shine',123.94,55,113,10.5,102 kmph,"81,108",4.4,NaN,NaN,NaN
3,Honda,'Unicorn',162.7,50,140,13,106 kmph,"1,10,529",4.3,NaN,NaN,NaN
4,Honda,'Activa 6G',109.51,47.5,106,5.3,85 kmph,"78,368",4.3,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
399,One,Electric Motorcycles Kridn,NaN,NaN,110,NaN,95 kmph,"1,35,000",NaN,110 km,5 hrs,398.0
400,CFMoto,650MT (Standard),649,18,218,18,170 kmph,"5,29,000",NaN,NaN,NaN,399.0
401,CFMoto,650NK (Standard),649,17,206,17,180 kmph,"4,29,000",NaN,NaN,NaN,400.0
402,CFMoto,300NK (Standard),292,20,151,12.5,160 kmph,"2,29,000",NaN,NaN,NaN,401.0
403,CFMoto,650GT (Standard),649,17,226,19,185 kmph,"5,59,000",NaN,NaN,NaN,402.0

#### converting top_speed to str and removing kmph

In [51]:
df['Top_speed']=df['Top_speed'].astype(str)

In [52]:
def speed(x):
    if x.isdigit() or x.endswith('kmph'):
        return x.strip('+ kmph')
    else:
        return np.nan

In [53]:
df['Top_speed'].map(lambda x : speed(x)).unique()

array(['100', '110', '102', '106', '85', '90', '130', '125', '86', '83',
       '115', '155', '150', '180', '200', '230', nan, '93', '154',
       '140.8', '120', '103', '132', '105', '95', '136', '87', '75',
       '107', '99', '114', '113', '78', '58', '127', '160', '66', '80',
       '140', '306', '143', '225', '303', '139', '280', '278', '253',
       '215', '169', '112', '135', '138', '194', '177', '210', '400',
       '195', '299', '201', '77', '250', '330', '186', '220', '199', '51',
       '175', '148', '170', '300', '240', '205', '198', '305', '185',
       '151', '145', '316', '182', '270', '209', '142', '167', '161',
       '212', '190', '165', '25', '45', '53', '48', '88', '70', '55',
       '65', '60', '47', '50', '72', '146', '172', '193', '117', '42'],
      dtype=object)

In [54]:
df['Top_speed']=df['Top_speed'].map(lambda x : speed(x))

In [55]:
df

,Manufacturer,Model,Engine_Capacity,Mileage,Weight,Fuel_Capacity,Top_speed,Prices,Rating,Riding_range,Charging_time,Unnamed: 0.1
0,Honda,'SP 125',124,65,116,11.2,100,"87,375",4.5,NaN,NaN,NaN
1,Honda,'SP160',162.71,50,139,12,110,"1,18,484",4.6,NaN,NaN,NaN
2,Honda,'Shine',123.94,55,113,10.5,102,"81,108",4.4,NaN,NaN,NaN
3,Honda,'Unicorn',162.7,50,140,13,106,"1,10,529",4.3,NaN,NaN,NaN
4,Honda,'Activa 6G',109.51,47.5,106,5.3,85,"78,368",4.3,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
399,One,Electric Motorcycles Kridn,NaN,NaN,110,NaN,95,"1,35,000",NaN,110 km,5 hrs,398.0
400,CFMoto,650MT (Standard),649,18,218,18,170,"5,29,000",NaN,NaN,NaN,399.0
401,CFMoto,650NK (Standard),649,17,206,17,180,"4,29,000",NaN,NaN,NaN,400.0
402,CFMoto,300NK (Standard),292,20,151,12.5,160,"2,29,000",NaN,NaN,NaN,401.0
403,CFMoto,650GT (Standard),649,17,226,19,185,"5,59,000",NaN,NaN,NaN,402.0

#### removing (,) from price

In [56]:
df

,Manufacturer,Model,Engine_Capacity,Mileage,Weight,Fuel_Capacity,Top_speed,Prices,Rating,Riding_range,Charging_time,Unnamed: 0.1
0,Honda,'SP 125',124,65,116,11.2,100,"87,375",4.5,NaN,NaN,NaN
1,Honda,'SP160',162.71,50,139,12,110,"1,18,484",4.6,NaN,NaN,NaN
2,Honda,'Shine',123.94,55,113,10.5,102,"81,108",4.4,NaN,NaN,NaN
3,Honda,'Unicorn',162.7,50,140,13,106,"1,10,529",4.3,NaN,NaN,NaN
4,Honda,'Activa 6G',109.51,47.5,106,5.3,85,"78,368",4.3,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
399,One,Electric Motorcycles Kridn,NaN,NaN,110,NaN,95,"1,35,000",NaN,110 km,5 hrs,398.0
400,CFMoto,650MT (Standard),649,18,218,18,170,"5,29,000",NaN,NaN,NaN,399.0
401,CFMoto,650NK (Standard),649,17,206,17,180,"4,29,000",NaN,NaN,NaN,400.0
402,CFMoto,300NK (Standard),292,20,151,12.5,160,"2,29,000",NaN,NaN,NaN,401.0
403,CFMoto,650GT (Standard),649,17,226,19,185,"5,59,000",NaN,NaN,NaN,402.0

In [57]:
df['Prices']=df['Prices'].str.replace(',','')

In [58]:
df

,Manufacturer,Model,Engine_Capacity,Mileage,Weight,Fuel_Capacity,Top_speed,Prices,Rating,Riding_range,Charging_time,Unnamed: 0.1
0,Honda,'SP 125',124,65,116,11.2,100,87375,4.5,NaN,NaN,NaN
1,Honda,'SP160',162.71,50,139,12,110,118484,4.6,NaN,NaN,NaN
2,Honda,'Shine',123.94,55,113,10.5,102,81108,4.4,NaN,NaN,NaN
3,Honda,'Unicorn',162.7,50,140,13,106,110529,4.3,NaN,NaN,NaN
4,Honda,'Activa 6G',109.51,47.5,106,5.3,85,78368,4.3,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
399,One,Electric Motorcycles Kridn,NaN,NaN,110,NaN,95,135000,NaN,110 km,5 hrs,398.0
400,CFMoto,650MT (Standard),649,18,218,18,170,529000,NaN,NaN,NaN,399.0
401,CFMoto,650NK (Standard),649,17,206,17,180,429000,NaN,NaN,NaN,400.0
402,CFMoto,300NK (Standard),292,20,151,12.5,160,229000,NaN,NaN,NaN,401.0
403,CFMoto,650GT (Standard),649,17,226,19,185,559000,NaN,NaN,NaN,402.0

##### rating

In [59]:
df['Rating'].unique()

array([4.5, 4.6, 4.4, 4.3, 4.2, 4.7, 4.8, 5. , 4.9, 3.9, 4. , 3.6, 8. ,
       3.5, 3.8, 3.1, 3.7, 4.1, 3.3, 2.9, 2.4, 2.5, 3. , 3.4, 3.2, 2.3,
       1.7, 2.7, 2.8, 2. , nan])

In [60]:
df['Rating'].replace(8.,5,inplace=True)

In [61]:
df

,Manufacturer,Model,Engine_Capacity,Mileage,Weight,Fuel_Capacity,Top_speed,Prices,Rating,Riding_range,Charging_time,Unnamed: 0.1
0,Honda,'SP 125',124,65,116,11.2,100,87375,4.5,NaN,NaN,NaN
1,Honda,'SP160',162.71,50,139,12,110,118484,4.6,NaN,NaN,NaN
2,Honda,'Shine',123.94,55,113,10.5,102,81108,4.4,NaN,NaN,NaN
3,Honda,'Unicorn',162.7,50,140,13,106,110529,4.3,NaN,NaN,NaN
4,Honda,'Activa 6G',109.51,47.5,106,5.3,85,78368,4.3,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
399,One,Electric Motorcycles Kridn,NaN,NaN,110,NaN,95,135000,NaN,110 km,5 hrs,398.0
400,CFMoto,650MT (Standard),649,18,218,18,170,529000,NaN,NaN,NaN,399.0
401,CFMoto,650NK (Standard),649,17,206,17,180,429000,NaN,NaN,NaN,400.0
402,CFMoto,300NK (Standard),292,20,151,12.5,160,229000,NaN,NaN,NaN,401.0
403,CFMoto,650GT (Standard),649,17,226,19,185,559000,NaN,NaN,NaN,402.0

#### removing km

In [62]:
df['Riding_range'].unique()

array([nan, '111 km', '123 km', '115 km', '157 km', '136 km', '70 km',
       '80 km', '107 km', '120 km', '85 km', '89 km', '108 km', '140 km',
       '95 km', '60 km', '130 km', '90 km', '100 km', '75 km', '125 km',
       '160 km', '211 km', '206 km', '101 km', '104 km', '70-75 km',
       '98 km', '139 km', '88 km', '84 km', '149 km', '151 km', '212 km',
       '129 km', '195 km', '150 km', '50 km', '82 km', '65 km', '110 km'],
      dtype=object)

In [63]:
df['Riding_range'].replace('70-75 km','75 km',inplace=True)

In [64]:
df['Riding_range'].unique()

array([nan, '111 km', '123 km', '115 km', '157 km', '136 km', '70 km',
       '80 km', '107 km', '120 km', '85 km', '89 km', '108 km', '140 km',
       '95 km', '60 km', '130 km', '90 km', '100 km', '75 km', '125 km',
       '160 km', '211 km', '206 km', '101 km', '104 km', '98 km',
       '139 km', '88 km', '84 km', '149 km', '151 km', '212 km', '129 km',
       '195 km', '150 km', '50 km', '82 km', '65 km', '110 km'],
      dtype=object)

In [65]:
df['Riding_range']=df['Riding_range'].str.strip('km')

In [66]:
df['Riding_range'].unique()

array([nan, '111 ', '123 ', '115 ', '157 ', '136 ', '70 ', '80 ', '107 ',
       '120 ', '85 ', '89 ', '108 ', '140 ', '95 ', '60 ', '130 ', '90 ',
       '100 ', '75 ', '125 ', '160 ', '211 ', '206 ', '101 ', '104 ',
       '98 ', '139 ', '88 ', '84 ', '149 ', '151 ', '212 ', '129 ',
       '195 ', '150 ', '50 ', '82 ', '65 ', '110 '], dtype=object)

#### Charging_time

In [67]:
df['Charging_time'].unique()

array([nan, '8.36 hrs', '8.3 hrs', '5.45 hrs', '6 hrs', '5 hrs',
       '4-5 hrs', '4.5 hrs', '3.30 hrs', '4 hrs', '3-3.5 hrs', '3.5 hrs',
       '3-4 hrs', '8 hrs', '4.30 hrs', '5.30 hrs', '3 hrs', '6.5 hrs',
       '3 hrs ', '9 hrs', '7 hrs', '4 hrs   '], dtype=object)

In [68]:
df['Charging_time'].replace({'4-5 hrs':'4.5 hrs','3-3.5 hrs':'3 hrs','3-4 hrs':'4 hrs'},inplace=True)

In [69]:
df['Charging_time'].unique()

array([nan, '8.36 hrs', '8.3 hrs', '5.45 hrs', '6 hrs', '5 hrs',
       '4.5 hrs', '3.30 hrs', '4 hrs', '3 hrs', '3.5 hrs', '8 hrs',
       '4.30 hrs', '5.30 hrs', '6.5 hrs', '3 hrs ', '9 hrs', '7 hrs',
       '4 hrs   '], dtype=object)

In [70]:
df['Charging_time']=df['Charging_time'].str.strip(' hrs')

In [71]:
df['Charging_time'].unique()

array([nan, '8.36', '8.3', '5.45', '6', '5', '4.5', '3.30', '4', '3',
       '3.5', '8', '4.30', '5.30', '6.5', '9', '7'], dtype=object)

In [72]:
#df.Charging_time.replace({'8.36':'4','8.3':'4','5.45':'5','6':'5','9':'5','5:30':'5','7':'5','8':'5'},inplace=True)

In [73]:
#df['Charging_time'].unique()

#### converting dtypes

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 403 entries, 0 to 403
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Manufacturer     403 non-null    object
 1   Model            403 non-null    object
 2   Engine_Capacity  299 non-null    object
 3   Mileage          232 non-null    object
 4   Weight           356 non-null    object
 5   Fuel_Capacity    288 non-null    object
 6   Top_speed        380 non-null    object
 7   Prices           403 non-null    object
 8   Rating           359 non-null    float64
 9   Riding_range     104 non-null    object
 10  Charging_time    77 non-null     object
 11  Unnamed: 0.1     33 non-null     float64
dtypes: float64(2), object(10)
memory usage: 40.9+ KB

In [75]:
df['Engine_Capacity']=df['Engine_Capacity'].astype((float))   ###engine_capacity

In [76]:
df.Engine_Capacity=df.Engine_Capacity.map(lambda x :round(x,0))

In [77]:
df['Engine_Capacity']

0      124.0
1      163.0
2      124.0
3      163.0
4      110.0
       ...
399      NaN
400    649.0
401    649.0
402    292.0
403    649.0
Name: Engine_Capacity, Length: 403, dtype: float64

In [78]:
df.Mileage=df.Mileage.astype(float)        ###Mileage

In [79]:
df.Mileage.astype(float)

0      65.0
1      50.0
2      55.0
3      50.0
4      47.5
       ...
399     NaN
400    18.0
401    17.0
402    20.0
403    17.0
Name: Mileage, Length: 403, dtype: float64

In [80]:
df.Weight=df.Weight.astype(np.float16)      ###weight

In [81]:
df.Fuel_Capacity=round(df.Fuel_Capacity.astype(float),2)       ###Fuel_capacity

In [82]:
round(df.Fuel_Capacity.astype(float),2)

0      11.2
1      12.0
2      10.5
3      13.0
4       5.3
       ...
399     NaN
400    18.0
401    17.0
402    12.5
403    19.0
Name: Fuel_Capacity, Length: 403, dtype: float64

In [83]:
df.Top_speed=df.Top_speed.astype(float)     ###top_speed

In [84]:
df.Prices=df.Prices.astype(int) ###Prices

In [85]:
df.Rating=round(df.Rating.astype(np.float32),1)  ##Rating

In [86]:
df.Charging_time=df.Charging_time.astype(np.float16)     ##Charging time

In [87]:
df.Riding_range=df.Riding_range.astype(np.float16)        ##riding range

In [88]:
df.info()           ### after converting

<class 'pandas.core.frame.DataFrame'>
Index: 403 entries, 0 to 403
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Manufacturer     403 non-null    object
 1   Model            403 non-null    object
 2   Engine_Capacity  299 non-null    float64
 3   Mileage          232 non-null    float64
 4   Weight           356 non-null    float16
 5   Fuel_Capacity    288 non-null    float64
 6   Top_speed        380 non-null    float64
 7   Prices           403 non-null    int32
 8   Rating           359 non-null    float32
 9   Riding_range     104 non-null    float16
 10  Charging_time    77 non-null     float16
 11  Unnamed: 0.1     33 non-null     float64
dtypes: float16(3), float32(1), float64(5), int32(1), object(2)
memory usage: 30.7+ KB

In [89]:
df.drop(columns='Unnamed: 0.1',inplace=True)

In [90]:
#bike.to_csv(r'C:\Users\Admin\Desktop\excel\cleaned_bike_data1.csv')

In [91]:
df

,Manufacturer,Model,Engine_Capacity,Mileage,Weight,Fuel_Capacity,Top_speed,Prices,Rating,Riding_range,Charging_time
0,Honda,'SP 125',124.0,65.0,116.0,11.2,100.0,87375,4.5,NaN,NaN
1,Honda,'SP160',163.0,50.0,139.0,12.0,110.0,118484,4.6,NaN,NaN
2,Honda,'Shine',124.0,55.0,113.0,10.5,102.0,81108,4.4,NaN,NaN
3,Honda,'Unicorn',163.0,50.0,140.0,13.0,106.0,110529,4.3,NaN,NaN
4,Honda,'Activa 6G',110.0,47.5,106.0,5.3,85.0,78368,4.3,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
399,One,Electric Motorcycles Kridn,NaN,NaN,110.0,NaN,95.0,135000,NaN,110.0,5.0
400,CFMoto,650MT (Standard),649.0,18.0,218.0,18.0,170.0,529000,NaN,NaN,NaN
401,CFMoto,650NK (Standard),649.0,17.0,206.0,17.0,180.0,429000,NaN,NaN,NaN
402,CFMoto,300NK (Standard),292.0,20.0,151.0,12.5,160.0,229000,NaN,NaN,NaN
403,CFMoto,650GT (Standard),649.0,17.0,226.0,19.0,185.0,559000,NaN,NaN,NaN

In [92]:
#bike[bike.Top_speed.isnull()]

In [93]:
df.columns

Index(['Manufacturer', 'Model', 'Engine_Capacity', 'Mileage', 'Weight',
       'Fuel_Capacity', 'Top_speed', 'Prices', 'Rating', 'Riding_range',
       'Charging_time'],
      dtype='object')

In [94]:
df.rename(columns={'Engine_Capacity':'Engine_Capacity_CC',
            'Mileage':'Mileage_kmpl',
            'Weight':'Weight_Kg',
            'Fuel_Capacity':'Fuel_Capacity_Ltrs',
            'Riding_range':'Riding_range_kms',
            'Charging_time':'Charging_time_Hrs'},inplace=True)

In [95]:
#bike.to_csv(r'C:\Users\Admin\Desktop\excel\cl_bike.csv')

In [96]:
#bike[bike.Rating.isnull()]

In [97]:
#df.to_csv(r'C:\Users\Admin\Desktop\project\final_bike_dataset.csv')

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 403 entries, 0 to 403
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Manufacturer        403 non-null    object
 1   Model               403 non-null    object
 2   Engine_Capacity_CC  299 non-null    float64
 3   Mileage_kmpl        232 non-null    float64
 4   Weight_Kg           356 non-null    float16
 5   Fuel_Capacity_Ltrs  288 non-null    float64
 6   Top_speed           380 non-null    float64
 7   Prices              403 non-null    int32
 8   Rating              359 non-null    float32
 9   Riding_range_kms    104 non-null    float16
 10  Charging_time_Hrs   77 non-null     float16
dtypes: float16(3), float32(1), float64(4), int32(1), object(2)
memory usage: 27.5+ KB

In [99]:
df

,Manufacturer,Model,Engine_Capacity_CC,Mileage_kmpl,Weight_Kg,Fuel_Capacity_Ltrs,Top_speed,Prices,Rating,Riding_range_kms,Charging_time_Hrs
0,Honda,'SP 125',124.0,65.0,116.0,11.2,100.0,87375,4.5,NaN,NaN
1,Honda,'SP160',163.0,50.0,139.0,12.0,110.0,118484,4.6,NaN,NaN
2,Honda,'Shine',124.0,55.0,113.0,10.5,102.0,81108,4.4,NaN,NaN
3,Honda,'Unicorn',163.0,50.0,140.0,13.0,106.0,110529,4.3,NaN,NaN
4,Honda,'Activa 6G',110.0,47.5,106.0,5.3,85.0,78368,4.3,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
399,One,Electric Motorcycles Kridn,NaN,NaN,110.0,NaN,95.0,135000,NaN,110.0,5.0
400,CFMoto,650MT (Standard),649.0,18.0,218.0,18.0,170.0,529000,NaN,NaN,NaN
401,CFMoto,650NK (Standard),649.0,17.0,206.0,17.0,180.0,429000,NaN,NaN,NaN
402,CFMoto,300NK (Standard),292.0,20.0,151.0,12.5,160.0,229000,NaN,NaN,NaN
403,CFMoto,650GT (Standard),649.0,17.0,226.0,19.0,185.0,559000,NaN,NaN,NaN

In [100]:
df.isnull().sum()

Manufacturer            0
Model                   0
Engine_Capacity_CC    104
Mileage_kmpl          171
Weight_Kg              47
Fuel_Capacity_Ltrs    115
Top_speed              23
Prices                  0
Rating                 44
Riding_range_kms      299
Charging_time_Hrs     326
dtype: int64

#### Filling Nulls with Values

In [101]:
df.isnull().sum()

Manufacturer            0
Model                   0
Engine_Capacity_CC    104
Mileage_kmpl          171
Weight_Kg              47
Fuel_Capacity_Ltrs    115
Top_speed              23
Prices                  0
Rating                 44
Riding_range_kms      299
Charging_time_Hrs     326
dtype: int64

In [102]:
df[df.Engine_Capacity_CC.isnull()]### Dealing with Engine_Capacity_CC

,Manufacturer,Model,Engine_Capacity_CC,Mileage_kmpl,Weight_Kg,Fuel_Capacity_Ltrs,Top_speed,Prices,Rating,Riding_range_kms,Charging_time_Hrs
282,Ather,'450X',NaN,NaN,108.000,NaN,90.0,141306,4.2,111.0,8.359375
283,Ather,'Rizta',NaN,NaN,119.000,NaN,80.0,110730,4.8,123.0,8.296875
284,Ather,'450S',NaN,NaN,108.000,NaN,90.0,119826,4.5,115.0,8.296875
285,Ather,'450 Apex',NaN,NaN,111.625,NaN,100.0,195069,5.0,157.0,5.449219
286,Ampere,'Nexus',NaN,NaN,NaN,NaN,93.0,109900,4.8,136.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
392,YO,Drift (DX),NaN,NaN,59.000,NaN,25.0,51094,NaN,80.0,4.000000
395,PURE,EV Etrance (Standard),NaN,NaN,49.000,NaN,60.0,54841,NaN,120.0,4.000000
396,Energy,EVONE,NaN,NaN,57.000,NaN,25.0,66666,NaN,65.0,3.000000
398,Tork,Kratos,NaN,NaN,NaN,NaN,105.0,168374,NaN,120.0,6.000000
399,One,Electric Motorcycles Kridn,NaN,NaN,110.000,NaN,95.0,135000,NaN,110.0,5.000000

In [103]:
df.Engine_Capacity_CC.fillna(0,inplace=True)

In [104]:
df.isnull().sum()

Manufacturer            0
Model                   0
Engine_Capacity_CC      0
Mileage_kmpl          171
Weight_Kg              47
Fuel_Capacity_Ltrs    115
Top_speed              23
Prices                  0
Rating                 44
Riding_range_kms      299
Charging_time_Hrs     326
dtype: int64

In [105]:
df[df.Mileage_kmpl.isnull()]  ### Dealing with Mileage_kmpl

,Manufacturer,Model,Engine_Capacity_CC,Mileage_kmpl,Weight_Kg,Fuel_Capacity_Ltrs,Top_speed,Prices,Rating,Riding_range_kms,Charging_time_Hrs
12,Honda,'Dio 125',124.0,NaN,NaN,NaN,85.0,86521,4.7,NaN,NaN
18,Honda,'CB300R',286.0,NaN,146.0,9.7,150.0,240042,4.8,NaN,NaN
21,Honda,'Goldwing Tour',1833.0,NaN,390.0,21.1,230.0,3977923,4.9,NaN,NaN
23,Bajaj,'Freedom',125.0,NaN,149.0,2.0,93.0,95000,5.0,NaN,NaN
37,Bajaj,'Chetak',123.0,NaN,NaN,NaN,NaN,98166,3.9,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
392,YO,Drift (DX),0.0,NaN,59.0,NaN,25.0,51094,NaN,80.0,4.0
395,PURE,EV Etrance (Standard),0.0,NaN,49.0,NaN,60.0,54841,NaN,120.0,4.0
396,Energy,EVONE,0.0,NaN,57.0,NaN,25.0,66666,NaN,65.0,3.0
398,Tork,Kratos,0.0,NaN,NaN,NaN,105.0,168374,NaN,120.0,6.0
399,One,Electric Motorcycles Kridn,0.0,NaN,110.0,NaN,95.0,135000,NaN,110.0,5.0

In [106]:
df.Mileage_kmpl.median()

32.7

In [107]:
mileage_nulls=df.loc[df.Mileage_kmpl.isnull()]

In [108]:
mileage_nulls.iloc[:58,3].replace(np.nan,32,inplace=True) ##filling petrol bikes nan values with 32(MILEAGE.MEDIAN)

In [109]:
mileage_nulls.iloc[136:145,3].replace(np.nan,32,inplace=True) ##filling petrol bikes nan values with 32

In [110]:
mileage_nulls[mileage_nulls.Mileage_kmpl.isnull()]

,Manufacturer,Model,Engine_Capacity_CC,Mileage_kmpl,Weight_Kg,Fuel_Capacity_Ltrs,Top_speed,Prices,Rating,Riding_range_kms,Charging_time_Hrs
282,Ather,'450X',0.0,NaN,108.000,NaN,90.0,141306,4.2,111.0,8.359375
283,Ather,'Rizta',0.0,NaN,119.000,NaN,80.0,110730,4.8,123.0,8.296875
284,Ather,'450S',0.0,NaN,108.000,NaN,90.0,119826,4.5,115.0,8.296875
285,Ather,'450 Apex',0.0,NaN,111.625,NaN,100.0,195069,5.0,157.0,5.449219
286,Ampere,'Nexus',0.0,NaN,NaN,NaN,93.0,109900,4.8,136.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
392,YO,Drift (DX),0.0,NaN,59.000,NaN,25.0,51094,NaN,80.0,4.000000
395,PURE,EV Etrance (Standard),0.0,NaN,49.000,NaN,60.0,54841,NaN,120.0,4.000000
396,Energy,EVONE,0.0,NaN,57.000,NaN,25.0,66666,NaN,65.0,3.000000
398,Tork,Kratos,0.0,NaN,NaN,NaN,105.0,168374,NaN,120.0,6.000000
399,One,Electric Motorcycles Kridn,0.0,NaN,110.000,NaN,95.0,135000,NaN,110.0,5.000000

In [111]:
mileage_nulls.Mileage_kmpl.fillna(0,inplace=True) #filling ev bikes nan values with 0 because they dont have mileage

C:\Users\Admin\AppData\Local\Temp\ipykernel_10156\2616580051.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mileage_nulls.Mileage_kmpl.fillna(0,inplace=True) #filling ev bikes nan values with 0 because they dont have mileage

In [112]:
mileage_nulls[mileage_nulls.Mileage_kmpl.isnull()]

Empty DataFrame
Columns: [Manufacturer, Model, Engine_Capacity_CC, Mileage_kmpl, Weight_Kg, Fuel_Capacity_Ltrs, Top_speed, Prices, Rating, Riding_range_kms, Charging_time_Hrs]
Index: []

In [113]:
df[df.Mileage_kmpl.isnull()]=mileage_nulls

In [114]:
df.isnull().sum()

Manufacturer            0
Model                   0
Engine_Capacity_CC      0
Mileage_kmpl            0
Weight_Kg              47
Fuel_Capacity_Ltrs    115
Top_speed              23
Prices                  0
Rating                 44
Riding_range_kms      299
Charging_time_Hrs     326
dtype: int64

In [115]:
df.loc[282:370,'Weight_Kg']

282    108.000
283    119.000
284    108.000
285    111.625
286        NaN
        ...
366    142.000
367    195.000
368        NaN
369    190.000
370    192.000
Name: Weight_Kg, Length: 89, dtype: float16

In [116]:
df.loc[282:370,'Weight_Kg'].fillna(98,inplace=True) #282,359   filling electric vehcile with median

In [117]:
df.loc[:282,'Weight_Kg'].isnull().sum()

19

In [118]:
df.loc[:282,'Weight_Kg'].fillna(170,inplace=True) #filling noraml bikes with median

In [119]:
df[df.Weight_Kg.isnull()]

,Manufacturer,Model,Engine_Capacity_CC,Mileage_kmpl,Weight_Kg,Fuel_Capacity_Ltrs,Top_speed,Prices,Rating,Riding_range_kms,Charging_time_Hrs
398,Tork,Kratos,0.0,0.0,NaN,NaN,105.0,168374,NaN,120.0,6.0

In [120]:
df[df.Engine_Capacity_CC==0]['Weight_Kg'].median() #electric bikes median

98.0

In [121]:
df.Weight_Kg.fillna(98,inplace=True)

In [122]:
df.isnull().sum()

Manufacturer            0
Model                   0
Engine_Capacity_CC      0
Mileage_kmpl            0
Weight_Kg               0
Fuel_Capacity_Ltrs    115
Top_speed              23
Prices                  0
Rating                 44
Riding_range_kms      299
Charging_time_Hrs     326
dtype: int64

In [123]:
df[df.Fuel_Capacity_Ltrs.isnull()] ### filling normal bikes Fuel_Capacity_Ltrs	with median

,Manufacturer,Model,Engine_Capacity_CC,Mileage_kmpl,Weight_Kg,Fuel_Capacity_Ltrs,Top_speed,Prices,Rating,Riding_range_kms,Charging_time_Hrs
12,Honda,'Dio 125',124.0,32.0,170.0,NaN,85.0,86521,4.7,NaN,NaN
37,Bajaj,'Chetak',123.0,32.0,170.0,NaN,NaN,98166,3.9,NaN,NaN
84,TVS,'iQube',75.0,32.0,115.0,NaN,NaN,117630,3.5,NaN,NaN
99,Yamaha,'MT-03',321.0,32.0,170.0,NaN,NaN,460260,3.9,NaN,NaN
104,BMW,'R 12',1170.0,32.0,170.0,NaN,NaN,1990000,5.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
392,YO,Drift (DX),0.0,0.0,59.0,NaN,25.0,51094,NaN,80.0,4.0
395,PURE,EV Etrance (Standard),0.0,0.0,49.0,NaN,60.0,54841,NaN,120.0,4.0
396,Energy,EVONE,0.0,0.0,57.0,NaN,25.0,66666,NaN,65.0,3.0
398,Tork,Kratos,0.0,0.0,98.0,NaN,105.0,168374,NaN,120.0,6.0
399,One,Electric Motorcycles Kridn,0.0,0.0,110.0,NaN,95.0,135000,NaN,110.0,5.0

In [124]:
df.Fuel_Capacity_Ltrs.mean()

13.212499999999999

In [125]:
df.Fuel_Capacity_Ltrs.median()

13.2

In [126]:
df.Fuel_Capacity_Ltrs.fillna(13.2,limit=10,inplace=True) #filling petrol bikes Fuel_capacity with median

In [127]:
df.Fuel_Capacity_Ltrs.fillna(0,inplace=True)  ### filling eletric bikes Fuel_Capacity_Ltrs	with 0

In [128]:
df.isnull().sum()

Manufacturer            0
Model                   0
Engine_Capacity_CC      0
Mileage_kmpl            0
Weight_Kg               0
Fuel_Capacity_Ltrs      0
Top_speed              23
Prices                  0
Rating                 44
Riding_range_kms      299
Charging_time_Hrs     326
dtype: int64

In [129]:
df.Top_speed.isnull().sum()

23

In [130]:
df.Top_speed.median()

115.0

In [131]:
df.Top_speed.fillna(115,inplace=True) ### filling top speed with median

In [132]:
df[df.Rating.isnull()]

,Manufacturer,Model,Engine_Capacity_CC,Mileage_kmpl,Weight_Kg,Fuel_Capacity_Ltrs,Top_speed,Prices,Rating,Riding_range_kms,Charging_time_Hrs
360,Triumph,'Daytona 660',660.0,20.0,98.00,14.0,169.0,1100000,NaN,NaN,NaN
361,Husqvarna,'Vitpilen 401',399.0,32.0,171.25,13.5,146.0,250000,NaN,NaN,NaN
362,Suzuki,'GSX-8R',776.0,32.0,205.00,14.0,172.0,1100000,NaN,NaN,NaN
363,Kawasaki,'Versys-X 300',296.0,32.0,175.00,17.0,193.0,480000,NaN,NaN,NaN
364,Suzuki,'GSX-8S',776.0,32.0,202.00,14.0,139.0,1000000,NaN,NaN,NaN
365,Honda,'CRF300 Rally',286.0,32.0,153.00,12.8,117.0,500000,NaN,NaN,NaN
366,Honda,'CRF300L',286.0,32.0,142.00,7.8,194.0,450000,NaN,NaN,NaN
367,RoyalEnfield,'Classic 350 Bobber',349.0,32.0,195.00,13.0,194.0,200000,NaN,NaN,NaN
368,BMW,'R 1300 GS Adventure',1300.0,21.0,98.00,19.0,113.0,2500000,NaN,NaN,NaN
369,Honda,'CB500F',500.0,32.0,190.00,15.7,194.0,480000,NaN,NaN,NaN
370,Honda,'CBR500R',500.0,32.0,192.00,15.5,103.0,445000,NaN,NaN,NaN
371,Eeve,4U(standard),0.0,0.0,72.00,0.0,25.0,73854,NaN,70.0,3.5
372,Eeve,wind(standard),0.0,0.0,94.00,0.0,25.0,58959,NaN,70.0,6.0
373,Eeve,Atreo(standard),0.0,0.0,94.00,0.0,25.0,65000,NaN,85.0,6.0
374,Eeve,Ahava(standard),0.0,0.0,94.00,0.0,25.0,56038,NaN,70.0,6.5
375,Eeve,Xeniaa(2),0.0,0.0,72.00,0.0,25.0,82000,NaN,80.0,3.5
376,Eeve,Xeniaa(standard),0.0,0.0,72.00,0.0,115.0,75004,NaN,60.0,3.0
377,Evolet,Derby(Classic),0.0,0.0,76.00,0.0,25.0,64599,NaN,100.0,4.0
378,Evolet,Derby(EZ),0.0,0.0,90.00,0.0,25.0,69124,NaN,120.0,8.0
379,Evolet,Polo (Classic),0.0,0.0,76.00,0.0,25.0,59299,NaN,90.0,9.0
380,Evolet,Polo (EZ),0.0,0.0,90.00,0.0,25.0,49699,NaN,120.0,8.0
381,Evolet,Pony (Classic),0.0,0.0,76.00,0.0,25.0,49563,NaN,80.0,7.0
382,Evolet,Pony (EZ),0.0,0.0,90.00,0.0,25.0,41124,NaN,80.0,7.0
383,Hero,Electric NYX HX (Dual Battery),0.0,0.0,87.00,0.0,42.0,63057,NaN,50.0,5.0
384,Hero,Electric Atria (LX),0.0,0.0,69.00,0.0,115.0,77690,NaN,85.0,4.0
385,Hero,Electric Optima HX (Dual Battery),0.0,0.0,83.00,0.0,42.0,77665,NaN,90.0,4.0
386,Hero,Electric Optima HX (single Battery),0.0,0.0,72.50,0.0,42.0,62365,NaN,82.0,4.0
387,Hero,Electric Photon (HX),0.0,0.0,87.00,0.0,45.0,80950,NaN,108.0,5.0
388,Techo Electra,Raptor (Standard),0.0,0.0,60.00,0.0,25.0,57856,NaN,100.0,4.0
389,Techo Electra,Emerge (Standard),0.0,0.0,60.00,0.0,25.0,68248,NaN,70.0,4.0
390,Techo Electra,Neo (Standard),0.0,0.0,51.00,0.0,25.0,41777,NaN,60.0,4.0
391,YO,Edge (DX),0.0,0.0,59.00,0.0,25.0,49086,NaN,70.0,3.0
392,YO,Drift (DX),0.0,0.0,59.00,0.0,25.0,51094,NaN,80.0,4.0
393,Suzuki,Burgman Street EX,124.0,47.0,80.00,6.5,80.0,115371,NaN,NaN,NaN
394,Suzuki,V-Strom 650 XT,645.0,17.0,210.00,16.0,180.0,885000,NaN,NaN,NaN
395,PURE,EV Etrance (Standard),0.0,0.0,49.00,0.0,60.0,54841,NaN,120.0,4.0
396,Energy,EVONE,0.0,0.0,57.00,0.0,25.0,66666,NaN,65.0,3.0
397,UM,Renegade Mojave (Standard),280.0,20.0,179.00,18.0,115.0,185526,NaN,NaN,NaN
398,Tork,Kratos,0.0,0.0,98.00,0.0,105.0,168374,NaN,120.0,6.0
399,One,Electric Motorcycles Kridn,0.0,0.0,110.00,0.0,95.0,135000,NaN,110.0,5.0
400,CFMoto,650MT (Standard),649.0,18.0,218.00,18.0,170.0,529000,NaN,NaN,NaN
401,CFMoto,650NK (Standard),649.0,17.0,206.00,17.0,180.0,429000,NaN,NaN,NaN
402,CFMoto,300NK (Standard),292.0,20.0,151.00,12.5,160.0,229000,NaN,NaN,NaN
403,CFMoto,650GT (Standard),649.0,17.0,226.00,19.0,185.0,559000,NaN,NaN,NaN

In [133]:
df.Rating.median()

4.599999904632568

In [134]:
df.Rating.mean()

4.4752088

In [135]:
df.Rating.fillna(4.5,inplace=True) ### filling rating with median 4.5

In [136]:
df.Riding_range_kms.fillna(0,inplace=True)

In [137]:
359-282

77

In [138]:
df[330:372]   #282,330 359 372,392

,Manufacturer,Model,Engine_Capacity_CC,Mileage_kmpl,Weight_Kg,Fuel_Capacity_Ltrs,Top_speed,Prices,Rating,Riding_range_kms,Charging_time_Hrs
331,BGauss,'C12i',0.0,0.0,106.00,0.0,60.0,113668,3.5,85.0,4.300781
332,BGauss,'D15',0.0,0.0,107.00,0.0,60.0,147125,3.6,115.0,5.300781
333,BGauss,'RUV350',0.0,0.0,122.00,0.0,75.0,109999,5.0,90.0,NaN
334,Benling,'Aura',0.0,0.0,98.00,0.0,60.0,91667,2.7,120.0,NaN
335,Benling,'Falcon',0.0,0.0,98.00,0.0,25.0,60923,3.4,75.0,NaN
336,Benling,'Kriti',0.0,0.0,98.00,0.0,25.0,56781,2.8,60.0,NaN
337,Lectrix,'SX25',0.0,0.0,70.00,0.0,25.0,54999,5.0,60.0,4.000000
338,Lectrix,'LXS G2.0',0.0,0.0,100.00,0.0,55.0,99999,5.0,98.0,3.000000
339,Lectrix,'LXS',0.0,0.0,100.00,0.0,50.0,91399,5.0,89.0,3.000000
340,Lectrix,'LXS 2.0',0.0,0.0,100.00,0.0,55.0,84990,5.0,98.0,3.000000
341,Evolet,'Derby',0.0,0.0,76.00,0.0,25.0,71399,4.4,90.0,4.000000
342,Evolet,'Pony',0.0,0.0,76.00,0.0,25.0,55799,4.4,90.0,4.000000
343,Okinawa,'R30',0.0,0.0,98.00,0.0,25.0,61998,3.2,60.0,NaN
344,Okinawa,'Lite',0.0,0.0,98.00,0.0,25.0,69095,3.9,60.0,NaN
345,Okinawa,'i-Praise',0.0,0.0,98.00,0.0,58.0,122914,3.5,139.0,NaN
346,Okinawa,'Praise',0.0,0.0,98.00,0.0,58.0,84430,2.7,88.0,NaN
347,Okinawa,'Ridge Plus',0.0,0.0,98.00,0.0,45.0,84561,3.1,84.0,NaN
348,Okinawa,'OKHI-90',0.0,0.0,98.00,0.0,90.0,186006,3.7,160.0,NaN
349,Okinawa,'Dual 100',0.0,0.0,98.00,0.0,60.0,119085,2.0,149.0,NaN
350,Okinawa,'Ridge 100',0.0,0.0,98.00,0.0,50.0,115311,5.0,149.0,NaN
351,Simple,'Energy Dot One',0.0,0.0,126.00,0.0,105.0,140499,4.1,151.0,4.000000
352,Simple,'Energy One',0.0,0.0,137.00,0.0,105.0,165999,4.4,212.0,3.000000
353,Ferrato,'Disruptor',0.0,0.0,164.00,0.0,95.0,169999,5.0,129.0,5.000000
354,OLA,'S1 X',0.0,0.0,101.00,0.0,85.0,83172,4.3,95.0,5.000000
355,OLA,'S1 Pro',0.0,0.0,116.00,0.0,120.0,137790,4.2,195.0,6.500000
356,OLA,'S1 Air',0.0,0.0,108.00,0.0,90.0,110573,4.3,151.0,5.000000
357,Matter,'AERA',0.0,0.0,98.00,0.0,115.0,173999,4.3,125.0,NaN
358,Revolt,'RV400',0.0,0.0,108.00,0.0,85.0,142939,4.1,150.0,4.500000
359,Bounce,'Infinity E1',0.0,0.0,94.00,0.0,65.0,115605,3.8,70.0,4.000000
360,Triumph,'Daytona 660',660.0,20.0,98.00,14.0,169.0,1100000,4.5,0.0,NaN
361,Husqvarna,'Vitpilen 401',399.0,32.0,171.25,13.5,146.0,250000,4.5,0.0,NaN
362,Suzuki,'GSX-8R',776.0,32.0,205.00,14.0,172.0,1100000,4.5,0.0,NaN
363,Kawasaki,'Versys-X 300',296.0,32.0,175.00,17.0,193.0,480000,4.5,0.0,NaN
364,Suzuki,'GSX-8S',776.0,32.0,202.00,14.0,139.0,1000000,4.5,0.0,NaN
365,Honda,'CRF300 Rally',286.0,32.0,153.00,12.8,117.0,500000,4.5,0.0,NaN
366,Honda,'CRF300L',286.0,32.0,142.00,7.8,194.0,450000,4.5,0.0,NaN
367,RoyalEnfield,'Classic 350 Bobber',349.0,32.0,195.00,13.0,194.0,200000,4.5,0.0,NaN
368,BMW,'R 1300 GS Adventure',1300.0,21.0,98.00,19.0,113.0,2500000,4.5,0.0,NaN
369,Honda,'CB500F',500.0,32.0,190.00,15.7,194.0,480000,4.5,0.0,NaN
370,Honda,'CBR500R',500.0,32.0,192.00,15.5,103.0,445000,4.5,0.0,NaN
371,Eeve,4U(standard),0.0,0.0,72.00,0.0,25.0,73854,4.5,70.0,3.500000
372,Eeve,wind(standard),0.0,0.0,94.00,0.0,25.0,58959,4.5,70.0,6.000000

In [139]:
df.Charging_time_Hrs.mean()

4.797

In [141]:
df.Charging_time_Hrs.fillna(0,limit=281,inplace=True)  #filling petrol bikes nan with 0

In [143]:
df.Charging_time_Hrs.fillna(4.5,limit=77,inplace=True)

In [144]:
df.Charging_time_Hrs.isnull().sum()

0

In [147]:
df[~df.Charging_time_Hrs.isnull()]

,Manufacturer,Model,Engine_Capacity_CC,Mileage_kmpl,Weight_Kg,Fuel_Capacity_Ltrs,Top_speed,Prices,Rating,Riding_range_kms,Charging_time_Hrs
0,Honda,'SP 125',124.0,65.0,116.0,11.2,100.0,87375,4.5,0.0,0.0
1,Honda,'SP160',163.0,50.0,139.0,12.0,110.0,118484,4.6,0.0,0.0
2,Honda,'Shine',124.0,55.0,113.0,10.5,102.0,81108,4.4,0.0,0.0
3,Honda,'Unicorn',163.0,50.0,140.0,13.0,106.0,110529,4.3,0.0,0.0
4,Honda,'Activa 6G',110.0,47.5,106.0,5.3,85.0,78368,4.3,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
399,One,Electric Motorcycles Kridn,0.0,0.0,110.0,0.0,95.0,135000,4.5,110.0,5.0
400,CFMoto,650MT (Standard),649.0,18.0,218.0,18.0,170.0,529000,4.5,0.0,4.5
401,CFMoto,650NK (Standard),649.0,17.0,206.0,17.0,180.0,429000,4.5,0.0,4.5
402,CFMoto,300NK (Standard),292.0,20.0,151.0,12.5,160.0,229000,4.5,0.0,4.5
403,CFMoto,650GT (Standard),649.0,17.0,226.0,19.0,185.0,559000,4.5,0.0,4.5

In [138]:
df[372:]

,Manufacturer,Model,Engine_Capacity_CC,Mileage_kmpl,Weight_Kg,Fuel_Capacity_Ltrs,Top_speed,Prices,Rating,Riding_range_kms,Charging_time_Hrs
373,Eeve,Atreo(standard),0.0,0.0,94.0,0.0,25.0,65000,4.5,85.0,6.0
374,Eeve,Ahava(standard),0.0,0.0,94.0,0.0,25.0,56038,4.5,70.0,6.5
375,Eeve,Xeniaa(2),0.0,0.0,72.0,0.0,25.0,82000,4.5,80.0,3.5
376,Eeve,Xeniaa(standard),0.0,0.0,72.0,0.0,115.0,75004,4.5,60.0,3.0
377,Evolet,Derby(Classic),0.0,0.0,76.0,0.0,25.0,64599,4.5,100.0,4.0
378,Evolet,Derby(EZ),0.0,0.0,90.0,0.0,25.0,69124,4.5,120.0,8.0
379,Evolet,Polo (Classic),0.0,0.0,76.0,0.0,25.0,59299,4.5,90.0,9.0
380,Evolet,Polo (EZ),0.0,0.0,90.0,0.0,25.0,49699,4.5,120.0,8.0
381,Evolet,Pony (Classic),0.0,0.0,76.0,0.0,25.0,49563,4.5,80.0,7.0
382,Evolet,Pony (EZ),0.0,0.0,90.0,0.0,25.0,41124,4.5,80.0,7.0
383,Hero,Electric NYX HX (Dual Battery),0.0,0.0,87.0,0.0,42.0,63057,4.5,50.0,5.0
384,Hero,Electric Atria (LX),0.0,0.0,69.0,0.0,115.0,77690,4.5,85.0,4.0
385,Hero,Electric Optima HX (Dual Battery),0.0,0.0,83.0,0.0,42.0,77665,4.5,90.0,4.0
386,Hero,Electric Optima HX (single Battery),0.0,0.0,72.5,0.0,42.0,62365,4.5,82.0,4.0
387,Hero,Electric Photon (HX),0.0,0.0,87.0,0.0,45.0,80950,4.5,108.0,5.0
388,Techo Electra,Raptor (Standard),0.0,0.0,60.0,0.0,25.0,57856,4.5,100.0,4.0
389,Techo Electra,Emerge (Standard),0.0,0.0,60.0,0.0,25.0,68248,4.5,70.0,4.0
390,Techo Electra,Neo (Standard),0.0,0.0,51.0,0.0,25.0,41777,4.5,60.0,4.0
391,YO,Edge (DX),0.0,0.0,59.0,0.0,25.0,49086,4.5,70.0,3.0
392,YO,Drift (DX),0.0,0.0,59.0,0.0,25.0,51094,4.5,80.0,4.0
393,Suzuki,Burgman Street EX,124.0,47.0,80.0,6.5,80.0,115371,4.5,0.0,4.5
394,Suzuki,V-Strom 650 XT,645.0,17.0,210.0,16.0,180.0,885000,4.5,0.0,4.5
395,PURE,EV Etrance (Standard),0.0,0.0,49.0,0.0,60.0,54841,4.5,120.0,4.0
396,Energy,EVONE,0.0,0.0,57.0,0.0,25.0,66666,4.5,65.0,3.0
397,UM,Renegade Mojave (Standard),280.0,20.0,179.0,18.0,115.0,185526,4.5,0.0,4.5
398,Tork,Kratos,0.0,0.0,98.0,0.0,105.0,168374,4.5,120.0,6.0
399,One,Electric Motorcycles Kridn,0.0,0.0,110.0,0.0,95.0,135000,4.5,110.0,5.0
400,CFMoto,650MT (Standard),649.0,18.0,218.0,18.0,170.0,529000,4.5,0.0,4.5
401,CFMoto,650NK (Standard),649.0,17.0,206.0,17.0,180.0,429000,4.5,0.0,4.5
402,CFMoto,300NK (Standard),292.0,20.0,151.0,12.5,160.0,229000,4.5,0.0,4.5
403,CFMoto,650GT (Standard),649.0,17.0,226.0,19.0,185.0,559000,4.5,0.0,4.5

In [148]:
df.loc[[393,394,397,400,401,402,403],'Charging_time_Hrs']=df.loc[[393,394,397,400,401,402,403],'Charging_time_Hrs'].replace(4.5,0)

In [149]:
df

,Manufacturer,Model,Engine_Capacity_CC,Mileage_kmpl,Weight_Kg,Fuel_Capacity_Ltrs,Top_speed,Prices,Rating,Riding_range_kms,Charging_time_Hrs
0,Honda,'SP 125',124.0,65.0,116.0,11.2,100.0,87375,4.5,0.0,0.0
1,Honda,'SP160',163.0,50.0,139.0,12.0,110.0,118484,4.6,0.0,0.0
2,Honda,'Shine',124.0,55.0,113.0,10.5,102.0,81108,4.4,0.0,0.0
3,Honda,'Unicorn',163.0,50.0,140.0,13.0,106.0,110529,4.3,0.0,0.0
4,Honda,'Activa 6G',110.0,47.5,106.0,5.3,85.0,78368,4.3,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
399,One,Electric Motorcycles Kridn,0.0,0.0,110.0,0.0,95.0,135000,4.5,110.0,5.0
400,CFMoto,650MT (Standard),649.0,18.0,218.0,18.0,170.0,529000,4.5,0.0,0.0
401,CFMoto,650NK (Standard),649.0,17.0,206.0,17.0,180.0,429000,4.5,0.0,0.0
402,CFMoto,300NK (Standard),292.0,20.0,151.0,12.5,160.0,229000,4.5,0.0,0.0
403,CFMoto,650GT (Standard),649.0,17.0,226.0,19.0,185.0,559000,4.5,0.0,0.0

In [141]:
#df.to_csv(r'C:\Users\Admin\Desktop\project\bike_cleaned_filled_missing_values.csv')